.login-style{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 100px;
}
.login-background{
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.h2-position{
    display: flex;
    justify-content: center;
}
.register_button{
    background: none;
    border: none;
    color: #a6a6fc;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
}